/* Overall index file */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@import url("./App.css");

@import url("./block.css");

@import url("./choice.css");

@import url("./choicecontainer.css");

@import url("./feedback.css");

@import url("./quiz.css");

@import url("./reset.css");
